HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

src/main/resources/application.properties
logs/reservation-batch.log
src/main/java/com/reservation/controller/TestController.java
/logs/reservation-batch.log.2026-04-23.0.gz
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/vcs-1/gc.properties
/.gradle/8.14/gc.properties
